* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


#videobox {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(195, 195, 195, 0.331);
    z-index: 1000;
}
#videobox i {
    position: absolute;
    top: 10px;
    right: 10px;
}

button {
    cursor: pointer;
}